<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>test_calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D8037CF81F20B7C300C73C13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8037D0C1F20B7C400C73C13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8037D171F20B7C400C73C13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
